.navbar {
    background-color: #f6f6f6;
}
    .navbar-toggler{
        display: none;
    }

    .navbar-nav {
        display: inline-block;
    }

    .dropdown {
        float: right;
    }

    .navbar-collapse {
        display: block;
    }

    .navbar-nav li {
        display: inline-block;
    }
     .navbar-nav li a{
        padding: 0px 25px !important;
    }

    .dropdown-toggle {
        border: none;
    }

    .btn-margin-top-space {
      margin-top: 10px;
    }

    .update-form form{
      width: 100%;
    }

    .right {
      float: right;
    }

    .left {
      float: left;
    }

    .pagination{
      width: auto;
      margin: 0 auto;
    }

    .pagination li{
      padding: 5px 15px;
      border: 1px solid #e8e8e8;
    }

    .pagination .active {
      background-color: #007bff;
      color: #fff;
    }
